* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
}

/* main内容布局撑开 */
.ant-pro-layout-top {
  height: 100%;
}

/* 限制最大宽度1200像素 */
.max-width-container {
  max-width: 1200px;
  margin: 0 auto;
}
